.App {
  padding: 10px;
  
  height:fit-content;
}

.leftSection {
  width: auto;
  border-radius: 1px;
  border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc,
}
